span {
  color: red
}

haha {
  color: green
}

h2 {
  color: chartreuse
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

#second_h2 {
  color: #13c2c2
}

.group1 {
  color: #fa8c16
}

.group2 {
  color: #7cb305
}